/*All formatting specific to the about page*/
/*Formatting for headshot photo*/
#headshot img {
    display: block;
    height: auto;
    max-width: 90%;
    
    margin-right: 20px;

    padding: 5px;
    border: 1px solid;

    float: left;
}

#about {
	text-align: center;
}

/*Fomatting for interest section text*/
#interests h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

#interests p {
    margin-top: 0px;
}

/*Prevent poor text wrapping around picture on small screens*/
@media only screen and (max-device-width: 500px) {
    #headshot img {
        float: none;
        margin: 0 auto; 
    }
}