---
---
 .codeblock {
	background-color: {% include colors.md param="lightSecondary" %};
	border-left: 4px solid {% include colors.md param="darkPrimary" %};
	padding-left: 5px;
	white-space: pre-wrap;
	border-radius: 0 5px 5px 0;
}


.thumbnail  {
	width: 100%;
	border-radius: 5px;
}

.postDate {
	margin-top: 0;
	font-style: italic;
}

.pagesNavigation {
	list-style-type: none;
	font-weight: 400;
	margin: 0 auto;
	margin-top: 10px;
	
}

.pagesNavigation li {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

.active {
	color: #39275B;
}

.disabled:hover {
	text-decoration: none;
}

. {
	text-align: left;
	margin: 0;
}