/*Fomatting specific to blog page or blog post pages*/
 pre {
	border-left: 4px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding-left: 5px;
	white-space: pre-wrap;
	border-radius: 0 5px 5px 0;
}

li {
	text-align: left;
}

pre code {
	border: none;
}

code {
	border: 1px solid;
}

blockquote {
	font-size: 20pt;
	font-weight: bold;
	font-style: italic;
}

table {
	width: 100%;
}

table, td, th {
	border: 1px solid;
	padding: 5px;
	overflow: auto;
}

.figure img {
	width: 100%;
}

.figure p {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 0px;
}

.thumbnail  {
	width: 100%;
	border-radius: 5px;
}

.postDate {
	margin-top: 0;
	font-style: italic;
}

.pagesNavigation {
	text-align: center;
	list-style-type: none;
	font-weight: 400;
    margin: 10px auto 0;

}

.pagesNavigation li {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

.active {
	color: #39275B;
}

.disabled:hover {
	text-decoration: none;
}

.tag {
	font-size: 11pt;
	border-radius: 5px;
	padding: 2px;
	margin: 3px;
}

