/* Single CSS file to manage all colors on website 
Allows for easy color theme changes.
*/
h1, h2, h3, h4, h5, h6,
blockquote,
#myName,
#navigationLinks li {
	color: #39275B;	
}

#navigationLinks li:hover {
	border-color: #39275B;
}

pre {
	border-color: #dddddd;
}

.figure {
	color: #717171;
}

.downloadLink,
.projectThumbnailBody p, .expandIcon,
.smallIcon,
.socialMediaLinks img,
.tag {
	background-color: #39275B;
}

.tag {
	color: white;
}

body, .container, #header {
	background-color: #FDFDFD;
}


#headshot img, 
#header, 
.sideBarLabel,
.section,
.projectBody {
	border-color: #e1e1e1;
}

code {
	border-color: #dddddd;
}

#navigationLinks li:hover,
pre,
code {
	background-color: #f8f8f8;
}

.downloadLink, 
.expandIcon {
	color: white;
}

#headshot img {
	background-color: white;
}

a {
	color: #007fff;
}