/*Background image for webpage*/
body {
    background-image: url('../images/background-pattern.png');
}

/*Container for all page content*/
.invisibleContainer {
    background: white;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    text-align: center;
    max-width: 880px;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 55px;
    
}

/*Name and navigation links*/
span {
    display: inline-block;
    vertical-align: middle;
}

#header {
	background: white;
    position: fixed;
    top: 0;
    width: 100%;
	background: white;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
    text-align: center;
    z-index: 10;
    
}

#headerWrapper {
    max-width: 880px;
    text-align: right;
    margin: 0 auto;
}

#myName {
    float: left;
    margin-left: 10px;
}

#navigationLinks {

    margin-left: 0;
    margin-right: 10px;
}

#navigationLinks li {
	display: inline;
	padding: 14px 10px 14px 10px;
	color: #39275B;
    margin: 0;
    cursor: pointer;
}

#navigationLinks li:hover {
    background-color: rgba(251, 251, 251, 1);
    border-bottom: 4px  solid rgba(57, 39, 91, 1);
}

/*Different name and header format for smaller screens*/
@media (max-width: 700px) {
    #myName {
        float: none;
    }
    
    #navigationLinks {
        margin: 0 auto;
    }
    
    #headerWrapper {
        text-align: center;
    }
}

/*Formatting for sections*/
.section {
    padding: 20px 40px 20px 40px;
    text-align: justify;
    border-bottom: 1px solid #E3BF42;
}

.title {
    color: #39275B;
}

.sectionTitle {
    margin: 0;
}

.insitutionTitle {
    margin-bottom: 5px;
}

.projectTitle {
    margin-bottom: 5px;
}

.sectionText {
    margin: 0;
  
}

.project {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 2px solid #e1e1e1;
}

.project:hover {
    border-left: 3px solid #e1e1e1;
    padding-left: 19px;
}

/*Formatting for social media links*/
#socialMediaLinks {
    height: auto;
    text-align: center;
    margin-top: 10px;
}

#socialMediaLinks img {
    height:35px;
    display: inline;
    background: #39275B;
    margin-bottom: 4px;
}

#socialMediaLinks img:hover {
    transform:scale(1.1);
    -moz-transform:scale(1.1); 
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    
    /* IE6 workaround*/
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
}

.downloadLink {
    text-decoration: none;
    color: white;
    background-color: #39275B;
    margin-top: 20px;
    margin-bottom: 10px;
}

.downloadLink:hover {
    -moz-transform:scale(1.02); 
    -webkit-transform:scale(1.02);
    -o-transform:scale(1.02);
}

.downloadLink a {
    padding: 10px;
}


/*Copyright text formatting*/
#copyright {
    text-align: center;
    margin-bottom: 30px;
    
}