/*Font size, color, family, etc. stylings*/
body, #header{
	font-family: 'Open Sans', sans-serif;
}

#myName {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
    color: #39275B;
    font-weight: bolder;
}

#navigationLinks a:hover, a:visited, a:link, a:active a{
    text-decoration: none;
}

.sectionTitle {
    color: #39275B;
}

#downloadLink {
    color: white;
    
}

#copyright {
    font-size: 14px;
    color:gray;
}