---
# Front matter must be included to process SASS files
---
a {
	color: #333;
}

.container {
	max-width: 1180px;
}

ul {
	margin-left: 0;
	padding-left: 20px;

}

.post_index {
    text-align: left;
    font-size: 15pt;
}
