/*Formatting specific to projects page and individual project description pages*/
.projectThumbnailBody {
  position: relative;

  overflow: hidden;
  
  box-shadow: 1px 1px 1px 1px #888888;
  transition: all .15s;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  
}

.projectThumbnailBody img {
  position: relative;
  overflow: hidden;
  width: 100%; 
  background-color: white;
}

.projectThumbnailBody p {
  color: white;

  opacity: .90;
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  width: 95%;
  font-weight: 600;
  transition: all .15s;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
}

/*Javascript used to toggle these classes and show/hide descriptions*/
.projectThumbnailBody small {
  opacity: 0; 
}

.project {
  margin-bottom: 20px;
}

.projectTitle {
  font-size: 20px;
}

.projectBody {
  font-size: 17px;
  font-weight: 800;
  margin-left: 8px;
  padding-left: 7px;
  border-left: 1px solid;
}

.expandIcon {
  text-align: center;
  font-weight: 400;
  font-size: 15px;

  float: left;
  display: inline-block;
  position: relative;
  top: 3px;

  width: 21px;
  height: 21px;

  margin-right: 3px;
}

@media(min-width: 700px) {

  .projectThumbnailBody:hover > p{
    height: 90px;
  }

  .projectThumbnailBody:hover p small  {
    opacity: 1; 
  }

  .projectTitle:hover {
    cursor: pointer;
  }
}

