---
---
.projectThumbnailBody {
  position: relative;

  overflow: hidden;
  
  box-shadow: 1px 1px 1px 1px {% include colors.md param="shadow" %};
  transition: all .15s;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  
}

.projectThumbnailBody img {
  position: relative;
  overflow: hidden;
  width: 100%; 
  background-color: white;
}

.projectThumbnailBody p {
  color: white;
  background-color: {% include colors.md param="projectLabel" %};
  opacity: .90;
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  width: 95%;
  font-weight: 600;
  transition: all .15s;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
}

/*Javascript used to toggle these classes and show/hide descriptions*/
.projectThumbnailBody small {
  opacity: 0; 
}

.project {
  margin-bottom: 20px;
}

.projectTitle {
  font-size: 20px;
}

.projectBody {
  font-size: 17px;
  font-weight: 800;
  margin-left: 8px;
  padding-left: 7px;
  border-left: 1px solid {% include colors.md param="darkSecondary" %};
}

.expandIcon {
  text-align: center;
  font-weight: 400;
  font-size: 15px;

  float: left;
  display: inline-block;
  position: relative;
  top: 3px;

  background-color: {% include colors.md param="darkPrimary" %};
  color: {% include colors.md param="lightText" %};

  width: 21px;
  height: 21px;

  margin-right: 3px;
}

@media(min-device-width: 700px) {

  .projectThumbnailBody:hover {
    transform:scale(1.03);
    -moz-transform:scale(1.03); 
    -webkit-transform:scale(1.03);
    -o-transform:scale(1.03);
  }

  .projectThumbnailBody:hover > img {

  }

  .projectThumbnailBody:hover > p{
    height: 90px;
  }

  .projectThumbnailBody:hover p small  {
    opacity: 1; 
  }

  .projectTitle:hover {
    cursor: pointer;

    color: {% include colors.md param="darkSecondary" %};
  }

  .projectTitle:hover > .expandIcon {
    background-color: {% include colors.md param="darkSecondary" %};
  }
}

