/* Base formatting for all pages. Note all colors are separated into colors.css */
/*Background image for web page*/
body {
    font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Trick to get shift anchor links above target to account for fixed navigation bar */
a.anchor {
	display: block;
	position: relative;
	top: -57px;
	visibility: hidden;
}

/*Formatting for headings*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: left;
} 

input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    outline-style: none;
}

.result {
    margin-top: -1px;
    position: absolute;
    border: 1px solid;
    width: 310px;
}

.result a {
    text-decoration: none;
    color: inherit;
}

.result_item {
    display: block;
    border-bottom: 1px solid;
    margin-top: -1px;
    padding: 10px;
    padding-left: 28px;
    text-indent: -20px;
}

.result_item p {
    margin: 0;
}

.result_item:hover {
    cursor: pointer;
}

.undecorated {
    color: inherit;
}

.undecorated:hover {
    text-decoration: none;
}

/*Formatting for download links*/
.downloadLink {
    margin-top: 10px;
    margin-bottom: 10px;
}

.downloadLink a:hover {
    -moz-transform: scale(1.02); 
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    text-decoration: none;
}

.downloadLink a {
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
}

p {
    font-weight: 400;   
}

.leadText {
    margin: 0 0 15px;

    font-size: 20px;
    font-weight: 200;
}

/*Container for all page content*/
.container {
    max-width: 1200px;

    margin: 55px auto 20px;

    text-align: left;
}

/*Formatting for sections*/
.section {
    overflow: hidden;
    padding: 20px 4% 20px 4%;
    
    border-bottom: 1px solid;
    
    text-align: justify;   
}

/*Formatting for small icons such as those in interest section*/
div.smallIcon {
    height: 32px;
    width: 32px;
    border-radius: 100%;

    margin-right: 5px;

    display: inline-table;
    vertical-align: middle;
    text-align: center;
}

.smallIcon img {
    height: 20px;
    width: 20px;
}

/*Formatting for embedded videos*/
.video-container {
    position: relative;
    padding-bottom: 39.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 480px;
}

/*Different name and header format for smaller screens*/
@media only screen and (max-width: 500px) {
    p {
        text-align: left;
    }
    
    .container {
        margin-top: 0;
    }

    a.anchor {
        display: block;
        position: relative;
        top: 0px;
        visibility: hidden;
    }
}

/*Different name and header format for even smaller screens*/
@media (max-width: 425px) {
 
}