/*Background image for webpage*/
body {
    background-image: url('../images/background-pattern.png');
    
    font-family: 'Open Sans', sans-serif;
}

/*Container for all page content*/
.invisibleContainer {
    background: white;
    
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    
    max-width: 880px;
    
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 55px;
    
    text-align: center;
}

/*Formatting for the navigation bar*/
span {
    display: inline-block;
    vertical-align: middle;
}

#header {
	background: white;

	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
    
    position: fixed;
    z-index: 10;
    top: 0;
       
    width: 100%;
    
    text-align: center;
}

#headerWrapper {
    max-width: 880px;
    
    margin: 0 auto;
    
    text-align: right;
}

#myName {
    float: left;
    
    margin-left: 10px;
    
    font-family: 'Open Sans', sans-serif;
	font-size: 40px;
    color: #39275B;
    font-weight: bolder;
}

#navigationLinks {
    margin-left: 0;
    margin-right: 10px;
}

#navigationLinks li {
	display: inline;
    
	padding: 14px 10px 14px 10px;
    margin: 0;
    
    cursor: pointer;
    
    color: #39275B;
}

#navigationLinks li:hover {
    background-color: rgba(251, 251, 251, 1);
    
    border-bottom: 4px  solid rgba(57, 39, 91, 1);
}

#navigationLinks a:hover, a:visited, a:link, a:active a{
    text-decoration: none;
}

/*Different name and header format for smaller screens*/
@media (max-width: 570px) {
    #myName {
        
        float: none;
        font-size: 25px;
        margin: 0 auto;
        
    }
    
    #navigationLinks ul {
        margin-top: 10px;
        padding: 0;
    }

    #navigationLinks {
        
    }
    #headerWrapper {
        text-align: center;
        margin: 0;
        
    }
    
    #headerWrapper span {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    
}

/*Formatting for photo*/
#headshot img {
    float: left;
    
    width: 35%;
    
    margin-right: 20px;
    
    border: 2px solid #e1e1e1;
}

/*Formatting for sections*/
.section {
    clear: both;
    padding: 20px 40px 20px 40px;
    
    border-bottom: 1px solid #E3BF42;
    
    text-align: justify;   
}

.sectionText {
    margin: 0; 
    margin-bottom: 15px;
    
    font-size: 15px;
}

.sectionLink:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 20px;
    padding-left: 20px;
    
    border-left: 1px solid #E3BF42;
}



/*Formatting for section titles*/
.title {
    color: #39275B; 
    
    margin-bottom: 5px;
    margin-top: 15px;
} 

#Research .sectionTitle {cursor: pointer;}

#Research .sectionTitle:hover {color: #E3BF42;}

.insitutionTitle {
    margin-bottom: 5px;

    cursor: pointer;
}

.insitutionTitle:hover {color: #E3BF42;}

.projectTitle:hover {
    cursor: pointer;
    
    color: #E3BF42;
}

.expand {
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    
    background-color: #39275B;
    color: white;
    
    width: 20px;
    
    display: inline-block;

    margin-right: 3px;
}

.projectTitle:hover > .expand {
    -moz-transform:scale(1.05); 
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

/*Formatting for social media links*/
#socialMediaLinks {
    height: auto;
    margin-top: 10px;
    
    text-align: center;
}

#socialMediaLinks img {
    background: #39275B;
    
    height:30px;
    
    display: inline;
    
    margin-bottom: 4px;
}

#socialMediaLinks img:hover {
    transform:scale(1.05);
    -moz-transform:scale(1.05); 
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
}

/*Formatting for embedded videos*/
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    
    /* IE6 workaround*/
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
}

/*Formatting for download links*/
.downloadLink {
    text-decoration: none;
    color: white;
    
    background-color: #39275B;
    
    margin-top: 20px;
    margin-bottom: 10px;
}

.downloadLink:hover {
    -moz-transform:scale(1.02); 
    -webkit-transform:scale(1.02);
    -o-transform:scale(1.02);
    transform:scale(1.02);
}

.downloadLink a {
    padding: 10px;
}

/*Copyright text formatting*/
#copyright {
    text-align: center;
    font-size: 14px;
    color: gray; 
    
    margin-bottom: 30px;
}