/*********************************************************************************
BASE FORMATTING
*********************************************************************************/
/* Base formatting for all pages. Note all colors are separated into colors.css */
/*Background image for web page*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #535961;
}

body, .container {
    background-color: #FDFDFD;
}

.section {
    padding: 20px 4% 20px 4%;

    border-bottom: 1px solid #e1e1e1;

    text-align: justify;
}

a {
    text-decoration: none;
    color: #007fff;
}

a:hover {
    text-decoration: underline;
}

.fitwidth {
    width: 100%;
    margin: 10px;
}

/* Trick to get shift anchor links above target to account for fixed navigation bar */
a.anchor {
    display: block;
    position: relative;
    top: -57px;
    visibility: hidden;
}

.undecorated {
    color: inherit;
}

.undecorated:hover {
    text-decoration: none;
}

/*Formatting for headings*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: left;
}

p {
    font-weight: 400;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;

}

.leadText {
    margin: 0 0 15px;

    font-size: 20px;
    font-weight: 200;
}

/*Container for all page content*/
.container {
    max-width: 1000px;
    margin: 10px auto 20px;
    text-align: left;
}

small {
    text-align: center;
    display: block;
}

/*Different name and header format for smaller screens*/
@media only screen and (max-width: 700px) {
    p {
        text-align: left;
    }

    a.anchor {
        display: block;
        position: relative;
        top: 0px;
        visibility: hidden;
    }
}

/*********************************************************************************
BLOG FEED
*********************************************************************************/
.blogpost {
    padding: 5px 0 35px 0;

    border-bottom: 1px solid;

    text-align: justify;

    border-color: #e1e1e1;
}

.thumbnail {
    width: 100%;
    border-radius: 5px;
}

.postDate {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 35px;
    text-align: center;
    position: relative;
    right: 100px;
    top: -42px;
    margin-bottom: -85px;
    margin-left: 15px;

    background-color: #e1e1e1;
    color: white;
}

.postDate div {
    display: inline;
}

.postDate span {
    display: block;
    margin-bottom: -15px;
    padding: 0;
}

.month {
    font-weight: lighter;
    margin-bottom: 20px;
}

.day {
    font-weight: 600;
}

@media only screen and (max-width: 700px) {
    .postDate {
        position: static;
        display: block;
        margin: 0;
        color: white;
        height: 15px;
        width: 50px;
        border-radius: 5px;
        line-height: 15px;

    }

    .postDate span {
        display: inline;
    }
}

/*********************************************************************************
BLOG PAGINATION
*********************************************************************************/
.pagesNavigation {
    text-align: center;
    list-style-type: none;
    font-weight: 400;
    margin: 10px auto 0;

}

.pagesNavigation li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.active {
    color: #39275B;
}

.disabled:hover {
    text-decoration: none;
}

/*********************************************************************************
BLOG TEXT
*********************************************************************************/
/*Fomatting specific to blog page or blog post pages*/
pre {
    padding-left: 5px;
    border-radius: 0 5px 5px 0;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;

    border: 1px solid #dddddd;
    border-left-width: 4px;
}

pre code {
    border: none;
}

code {
    border: 1px solid #dddddd;
}

pre,
code {
    background-color: #f8f8f8;
}

blockquote {
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
}

table {
    width: 100%;
}

table, td, th {
    padding: 5px;
    overflow: auto;

    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

.tag {
    font-size: 11pt;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;

    color: white;
    background-color: #007fff;
}

/*********************************************************************************
SIDEBAR
*********************************************************************************/
.sidebar {
    margin-left: 10px;
}

.sidebar ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.sidebar ul li {

}

.sideBarLabel {
    padding-bottom: 10px;
    border-bottom: 1px solid;

    border-color: #e1e1e1;
}

.sidebar .allposts {
    margin-top: 15px;
}

/* SOCIAL MEDIA ICONS */
/*Formatting for social media links*/
.socialMediaLinks {
    height: auto;
    margin-top: 10px;

    text-align: center;
}

.socialMediaLinks img {
    height: 40px;
    display: inline;
    margin-bottom: 4px;
    background-color: #007fff;
}

.socialMediaLinks img:hover {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.sidebar .socialMediaLinks {
    text-align: left;
}

.readmore {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007fff;
    color: white;
}

.readmore:hover {
    background-color: #006aff;
}

/*********************************************************************************
SEARCH BAR
*********************************************************************************/
.result {
    margin-top: -1px;
    position: absolute;
    border: 1px solid;
    width: 310px;

    background-color: white;
}

.result a {
    text-decoration: none;
    color: inherit;
}

.result_item {
    display: block;
    border-bottom: 1px solid;
    margin-top: -1px;
    padding: 10px 10px 10px 28px;
    text-indent: -20px;
}

.result_item p {
    margin: 0;
}

input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
    width: 250px;
    height: 30px;
    padding: 5px;
    outline-style: none;
}

input,
.result_item, .result {
    border-color: #dddddd;
}

input:focus, input::selection {
    box-shadow: 0 0 1px 1px #dddddd;
}

.result_item:hover {
    cursor: pointer;
}

.selected_result p {
    color: white;
}

.selected_result {
    background-color: #007fff;
}

/*********************************************************************************
FRONT PAGE
*********************************************************************************/
#headshot img {
    background-color: white;
    border-color: #e1e1e1;

    display: block;
    height: auto;
    max-width: 400px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid rgb(225, 225, 225);
    float: left;
}

div.smallIcon {
    height: 32px;
    width: 32px;
    border-radius: 100%;

    margin-right: 5px;

    display: inline-table;
    vertical-align: middle;
    text-align: center;
}

.smallIcon img {
    height: 20px;
    width: 20px;
    background-color: #333;
}

/*********************************************************************************
PROJECT PAGES
*********************************************************************************/
.background {
    border-color: #535961;
}

.projectThumbnailBody {
    position: relative;
    height: 180px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #888888;
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
}

.projectThumbnailBody img {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: white;
}

.projectThumbnailBody p {
    color: white;
    opacity: .90;
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    width: 95%;
    font-weight: 600;
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
}

.projectThumbnailBody small {
    opacity: 0;
    text-align: left;
}

.projectThumbnailBody:hover > p{
    height: 90px;
}

.projectThumbnailBody:hover p small  {
    opacity: 1;
}

.projectTitle {
    font-size: 20px;
}

.projectTitle:hover {
    cursor: pointer;
}

.projectThumbnailBody p, .expandIcon,
.smallIcon {
    background-color: #333;
}

span.downloadLink {
    background-color: #007fff;
    border: 2px solid #007fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 1px rgba(0,0,0,0.125);
}

span.downloadLink:hover {
    background-color: #006aff;
}

.downloadLink a:hover {
    text-decoration: none;
}

.projectBody {
    border-color: #e1e1e1;
}

.expandIcon {
    text-align: center;
    font-weight: 400;
    font-size: 15px;

    float: left;
    display: inline-block;
    position: relative;
    top: 3px;

    width: 21px;
    height: 21px;

    margin-right: 3px;
}

@media(min-width: 900px) {

.projectThumbnailBody:hover > p{
    height: 90px;
}

    .projectThumbnailBody:hover p small  {
        opacity: 1;
    }

    .projectTitle:hover {
        cursor: pointer;
    }
}

.expandIcon {
    color: white;
}

.downloadLink {
    margin-top: 10px;
    margin-bottom: 10px;
}

.downloadLink a {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}


/*********************************************************************************
VIDEO
*********************************************************************************/
.video-container,.map-container {
    position: relative;
    padding-bottom: 39.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.video-container iframe,
.video-container object,
.video-container embed,
.map-container iframe,
.map-container object,
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    max-width: 480px;
}

.map-container {
    max-width: 600px;
}


/*********************************************************************************
Dividers
*********************************************************************************/
div.divider-reads {
    height: 150px;
    width: 100%;
    box-shadow: inset 0 1px 2px 1px rgba(179,179,179, .6);
    background-image: url('/images/dividers/reads.jpeg');
}

div.divider-dots {
    height: 150px;
    width: 100%;
    box-shadow: inset 0 1px 2px 1px rgba(179,179,179, .6);
    background-image: url('/images/dividers/dots.jpeg');
}

div.divider-dna {
    height: 150px;
    width: 100%;
    box-shadow: inset 0 1px 2px 1px rgba(179,179,179, .6);
    background-image: url('/images/dividers/dna.jpeg');
}