---
---
/*Background image for webpage*/
body {
    color: {% include colors.md param="darkText" %};
    font-family: 'Open Sans', sans-serif;
    background-color: {% include colors.md param="background" %};
}

a {
  color: {% include colors.md param="link" %};
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Trick to get shift anchor links above target to account for fixed navigation bar */
a.anchor {
	display: block;
	position: relative;
	top: -57px;
	visibility: hidden;
}

/*Formatting for headings*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: left;
    color: {% include colors.md param="headingText" %}
} 

.undecorated {
    color: inherit;
}

.undecorated:hover {
    text-decoration: none;
}

/*Formatting for download links*/
.downloadLink {
    
    color: {% include colors.md param="lightText" %};
    background-color: {% include colors.md param="darkPrimary" %};
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.downloadLink a:hover {
    -moz-transform: scale(1.02); 
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    text-decoration: none;
}

.downloadLink a {
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
}

p {
    font-weight: 400;   
}

.leadText {
    margin: 0; 
    margin-bottom: 15px;
    
    font-size: 20px;
    font-weight: 200;
}

/*Container for all page content*/
.container {
    max-width: 1200px;
    
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 55px;
    
    text-align: center;
    background-color: {% include colors.md param="container" %};;
}

/*Formatting for sections*/
.section {
    overflow: hidden;
    padding: 20px 4% 20px 4%;
    
    border-bottom: 1px solid {% include colors.md param="darkSecondary" %};
    
    text-align: justify;   
}

.smallIcon {
    height: 25px;
    margin-right: 5px;
}

/*Formatting for embedded videos*/
.video-container {
    position: relative;
    padding-bottom: 39.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 480px;
}

/*Different name and header format for smaller screens*/
@media only screen and (max-device-width: 500px) {
    p {
        text-align: left;
    }
    
    .container {
        margin-top: 0;
    }

    a.anchor {
        display: block;
        position: relative;
        top: 0px;
        visibility: hidden;
    }
}

/*Different name and header format for even smaller screens*/
@media (max-width: 425px) {
 
}