
/* Styling specific to wedding invite page */
a {
  color: #9CE373;
  font-weight: 400;
}

pre {
    padding-left: 5px;
    border-radius: 0 5px 5px 0;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;

    border: 1px solid #A6AAA9;
    background-color: #f8f8f8;
    border-left-width: 4px;
}

iframe {
  padding: 5px;
  border: 1px solid #A6AAA9;
}

#couple-image1,#couple-image2,#couple-image3 {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #A6AAA9;
  display: block;
  margin: auto;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

#couple-image1,#couple-image3 {
  margin-top: 20px;
}

#couple-image1:hover,#couple-image2:hover,#couple-image3:hover {
  transform: scale(1.3);
}

.active {
    color: #7D42B7;
}

.nav-collapse a {
  background: #7D42B7;
  font-weight: 400;
}

.nav-collapse a:hover {
  background: #A158EA;
}

header {
  background: #7D42B7;
}
