---
# Front matter must be included to process SASS files
---
/* Styling specific to wedding invite page */
a {
  color: #9CE373;
  font-weight: 400;
}

pre {
    padding-left: 5px;
    border-radius: 0 5px 5px 0;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;

    border: 1px solid #A6AAA9;
    background-color: #f8f8f8;
    border-left-width: 4px;
}

iframe {
  padding: 5px;
  border: 1px solid #A6AAA9;
}

header {
  color: #fff;
}

#couple-image1,#couple-image2,#couple-image3 {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #A6AAA9;
  background-color: white;
  display: block;
  margin: auto;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

#couple-image1,#couple-image3 {
  margin-top: 20px;
}

#couple-image1:hover,#couple-image2:hover,#couple-image3:hover {
  @media only screen and (min-width: 900px) { transform: scale(1.3); }
}

.active {
    color: #7D42B7;
}

.logo {
  font-size: 25px;
  line-height: 60px;
}

.nav-collapse a {
  background: #7D42B7;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #7D42B7;
}

.nav-collapse ul li a:hover {
  @media screen and (min-width: 60em) { border-bottom: 2px solid #fff; }
}

.nav-toggle:before {
  color: #fff;
}

header {
  background: #7D42B7;
}

.engagement-photos li, .engagement-photo >li > img {
  display: inline-block;
}

.engagement-photos > li > img {
  height: 150px;
  padding: 5px;
  background-color: white;
  border: 1px solid #A6AAA9;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.engagement-photos > li > img:hover {
  @media only screen and (min-width: 900px) { transform: scale(1.8); }
}

.container {
    max-width: 1000px;
    margin: 55px auto 20px;
    text-align: left;
}

.rsvp-form {
  max-height: 1400px;
  height: 1400px;
}
