<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Professional website of Andrew Hill. View my professional interests, CV, Resume, and selected research projects.">
	<meta name="author" content="Andrew John Hill">
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

	<title>{{ site.name }}</title>

	<style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>

	<!--Style sheet suggested for browser consistency-->
	<link href='/css/normalize.css' rel='stylesheet'>
	
	<!--Google Web Fonts for pages-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css'>
	
	<!--Custom CSS -->
	<link href='/css/styles.css' rel='stylesheet'>
	<link href='/css/navigationBar.css' rel='stylesheet'>
	<link href='/css/about.css' rel='stylesheet'>
	<link href='/css/grid-layout.css' rel='stylesheet'>
	<link href='/css/blog.css' rel='stylesheet'>
	<link href='/css/projects.css' rel='stylesheet'>
	<link href='/css/sidebar.css' rel='stylesheet'>
	<link href='/css/social-media-icons.css' rel='stylesheet'>
	<link href='/css/sharePostButtons.css' rel='stylesheet'>
	<link href='/css/colors.css' rel='stylesheet'>
	
	
	<!--Tooltipster Plugin Styling-->
	<link rel="stylesheet" type="text/css" href="/css/tooltipster.css"/>
</head>
<body>

	<!--Header and links to other sections-->
	<nav id="header">
		<div id="headerWrapper">
			<span id="myName">Andrew Hill</span>
			<span id="navigationLinks">
				<ul>
					<a href="/"><li>About</li></a>
					<a href="/blog"><li>Blog</li></a>
					<a href="/projects"><li>Projects</li></a>
					<a href="/cv"><li>CV</li></a>
				</ul>
			</span>
		</div>
	</nav>

	<!--Outer div to house social media links and page content-->
	<div class="container">  