<!--Social Media Links-->
<div class="socialMediaLinks">
    <a href="mailto:andrewhill157@gmail.com" target="_blank" align="left"><img src="/images/social icons/gmail.svg" class="tooltip" title="Gmail: Contact Me"></a>
    <a href="https://github.com/andrewhill157" target="_blank" align="left"><img src="/images/social icons/github.svg" class="tooltip" title="GitHub: Software Repository"></a>
    <a href="http://www.linkedin.com/profile/view?id=55993017" target="_blank" align="left"><img src="/images/social icons/linkedin-2.svg" class="tooltip" title="LinkedIn: Professional Profile"></a>
    <a href="http://www.youtube.com/user/andrewhill157BRL/videos" target="_blank" align="left"><img src="/images/social icons/youtube.svg" class="tooltip" title="YouTube: Project Videos"></a>        
    <a href="https://twitter.com/_AndrewJohnHill" target="_blank" align="left"><img src="/images/social icons/twitter.svg" class="tooltip" title="Twitter: Science Commentary"></a>
    <a href="https://www.facebook.com/profile.php?id=729692151&sk=about" target="_blank" align="left"><img src="/images/social icons/facebook.svg" class="tooltip" title="Facebook: Personal Profile"></a>
</div>