<!--Social Media Links-->
<div class="socialMediaLinks">
    <a href="https://www.linkedin.com/profile/view?id=55993017" target="_blank" align="left"><img src="/images/social icons/linkedin.svg" class="tooltip" title="LinkedIn: Professional Profile"></a>
    <a href="mailto:ajh24@uw.edu" target="_blank" align="left"><img src="/images/social icons/gmail.svg" class="tooltip" title="Email Me"></a>
    <a href="https://github.com/andrewhill157" target="_blank" align="left"><img src="/images/social icons/github.svg" class="tooltip" title="GitHub: Software Repository"></a>
</div>
