---
title: Blog
layout: blog
---

  <h1>Recent Posts</h1>

  {% for post in paginator.posts %}
  <div class="blogpost">

    <a class="undecorated" href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
    <div class="postDate">
      <span class="month">{{ post.date | date: "%B" | truncate: 3,'' }}</span>
      <span class="day">{{ post.date | date: "%-d" }}</span>
    </div>
    <p class="leadText">
      {{ post.excerpt }}
    </p>
    <a class="undecorated" href="{{ post.url }}"><span class="readmore">Read More</span></a>
  </div>
  {% endfor %}

  <!-- Links to additional pages of posts -->
  <ul class="pagesNavigation">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href=""><li>Prev</li></a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}"><li>Prev</li></a>
    {% endif %}
    {% else %}
    <li class="disabled">Prev</li>
    {% endif %}
    {% if paginator.page == 1 %}
    <li class="active">1</li>
    {% else %}
    <a href=""><li>1</li></a>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <li class="active">{{ count }}</li>
    {% else %}
    <a href="/page{{ count }}"><li>{{ count }}</li></a>
    {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}"><li>Next</li></a>
    {% else %}
    <li class="disabled">Next</li>
    {% endif %}
  </ul>
