{% include header_base.html %}
<div class="container">
	<div class="blog-layout">
		<main class="blog-content">
			<article class="post">
				{% if page.thumbnail %}
				<img class="thumbnail" src={{page.thumbnail}}>
				{% endif %}

				<h1>{{ page.title }}</h1>
				<div class="postDate">
					<span class="month">{{ page.date | date: "%B" | truncate: 3,'' }}</span>
					<span class="day">{{ page.date | date: "%-d" }} | </span>
					<span class="year"> {{ page.date | date: "%Y" }}</span>
				</div>
				{{ content }}

				{% include disqusComments.html %}
			</article>
		</main>
	</div>
</div>
{% include footer.html %}